<html>
    <footer id="foot" class="section-p1">
        <div class="col">
            <img class="lo" src="images/sport-shoe.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> PO Box 5567/4A, New Lalazar, Rawalpindi</p>
            <p><strong>Phone:</strong> +92-310-535-0723</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="https://www.instagram.com/prelovedkickspk/" target="_blank" class="fa-brands fa-instagram"></a>
                    <a href="https://www.instagram.com/prelovedkickspk/" target="_blank" class="fa-brands fa-facebook-f"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="admin-login">Admin</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">View Cart</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="copyright">
            <p>@ 2023. Preloved Kicks - all rights reserved</p>
        </div>
    </footer>
</html>
